/* Paleta de colores
#424b54
#fafafa
#fadf63
#9ad2cb
#969a97
*/

 /* Breakpoints 576 768 992 1200 */


/*general*/
html {
    height:100vh;
    /*width: 100vh;*/
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #fafafa;
    font-family: 'News Cycle', sans-serif;
    font-size: 1em;
}

.container-fluid container {
    min-height: 100vh;
    /*min-height: 100%;*/
    overflow-y: hidden;
    /*margin-bottom: 110px;*/
}


/*navbar*/

.navbar.navbar-expand-lg.navbar-light{
    background-color:#9ad2cb;
    border-bottom: 1px solid #969a97;
    margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    color:#fafafa;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:#424b54;
}


/*search*/
.form-inline {
    /*width: 100%;*/
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
}

span.input-group-append{
    margin: 0;
}

input.form-control.py-2 {
    background-color: #fafafa;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius:0;
    float: left;
}

button.btn.btn-outline-secondary{
    background-color: #fafafa;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius:0;
    float: right;
    height: 38px;
}

.fa-search:hover {
    color:#fadf63;
}


/*main*/
a.index-genre {
    text-decoration: none;
}

h4.genre-name {
    background-color:#fafafa;
    color:#424b54;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2px;
    padding: 2px 48px;
}

h4.genre-name:hover {
    color:#9ad2cb;
    font-size: 2em;
}

div.row-index {
    display:flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

div.card-index-movie {
    display:flex;
    flex-direction: column;
    justify-content: center
}

div.card{
    /*height: 260px;*/
    min-height: 100%;
    margin: 5px;
}

img.card-img-top-index{
    width: 100%;
    height: 85%;
    justify-content: flex-start;
}

div.card-body{
    background-color: #fafafa;
    display:flex;
    flex-direction: row;
    height: 5%;
    justify-content: space-between;
    padding: 7px 10px;
    align-items: center;
}

div.card-body .card-title{
    font-size: 1em;
}

a.index-list-card-tittle{
    text-decoration: none;
    color:#969a97;
    font-size: 1.1em;
}

a.index-list-card-tittle:hover {
    color:#fadf63;
    font-size: 1.3em;
}

a.btn.btn-primary{
    background-color: #fadf63;
    border-color: #fadf63;
    transition: transform .2s;
}

a.btn.btn-primary:hover {
    background-color: #969a97;
    border-color: #969a97;
    transform: scale(1.3);
}


/*genre-list*/
ul.pagination {
    display: felx;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

li.page-item a.page-link {
    color:#969a97;
}

li.page-item a.page-link:hover {
    color:#fadf63;
}

.page-item.active .page-link {
    background-color:#969a97;
    border-color:#969a97;
}


/*movie-list*/
div.movie-list {
    display:flex;
    flex-direction: column;
}

div.order-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

div.row-movie-list-addnew {
    display: flex;
    align-items: center;
}

input.movie-list.btn.btn-primary.add {
    background-color: #fadf63;
    border-color: #fadf63;
    transition: transform .2s;
}

input.movie-list.btn.btn-primary.add:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}

input.movie-list.btn.btn-primary {
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
}

.card.movies {
    /*height: 260px;*/
    min-height: 100%;
    margin: 5px;
}

.card-img.movies {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.card-img-overlay.movies {
    display:none;
}

.card-img.movies:hover + .card-img-overlay.movies {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 15px;
}


/*movie-detail*/
div.movie-datail{
    display:flex;
    flex-direction:column;
    margin-bottom: 25px;
}

div.row-movie-datail {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 10px;
}

div.img-movie-detail {
    display:flex;
    flex-direction: colum;
}

div.movie-data-detail {
    display:flex;
    flex-direction: column;
}

div.movie-data-detail h4.movie-data-datail-title {
    color:#424b54;
    border-bottom: 2px solid #9ad2cb;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

div.movie-data-detail-group {
    display:flex;
    flex-direction: row;
}

a.btn.btn-primary.detail {
display:flex;
flex-direction: row;
justify-content: center;
width:30px;
height:30px; 
margin-right: 20px;
}

a.btn.btn-primary.detail:hover {
background-color: #969a97;
border-color: #969a97;
transform: scale(1.2);
}

div.row-movie-detail-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 15px;
}

/*.movie-detail-form-button {
    background-color:#fadf63;
    color: #969a97;
    border-radius: 50px;
    margin: 25px auto;
    padding: 0;
    height: 40px;
    width: 120px;
    box-sizing: border-box;
    font-size: 1em;
    border-color: none;
}*/

input.movie-detail-form.btn.btn-primary {
    background-color: #fadf63;
    border-color: #fadf63;
    transition: transform .2s;
}

input.movie-detail-form.btn.btn-primary:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}

div.card.movie {
    min-height: 100%;
    min-height: 100%;
    display:flex;
    flex-direction: colum;
    margin-top: 38px;
    margin-right: 20px;
}

img.img-movie-detail {
    width: 100%;
    height: 100%;
    
}


/*movie-detail-actors*/
div.movie-actors {
    margin-bottom: 110px;
}  

a.index-actor {
    text-decoration: none;
}

h4.actor-name {
    background-color:#fafafa;
    color:#424b54;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2px;
    padding: 2px 48px;
}

h4.actor-name:hover {
    color:#9ad2cb;
    font-size: 2em;
}

div.movie-actors-index {
    display: flex;
    flex-direction:row;
    padding: 10px;
}

.card movie-actors {
    min-width: 100%;
    min-height: 100%;
}

img.movie-detail-actors-photo {
    width: 100%;
    height: 100%;
}


/*Actors-List*/
.card-header.actors {
    height: 18%;
    border-bottom: none;
    background-color:#fafafa;
    padding: 8px 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

h6.actors-name {
    color:#969a97;
    font-size: 1em;
}

h6.actors-name:hover {
    color:#fadf63;
    font-size: 1.1em;
}

.card-img.actors {
    width: 100%;
    height: 82%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-img-overlay.actors {
    display:none;
}

.card-img.actors:hover + .card-img-overlay.actors {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}


/*Actors detail*/
div.actor-info{
    display:flex;
    flex-direction:column;
    margin-bottom: 25px;
}

div.row-actor-info {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 10px;
}

card.actors {
    min-height: 100%;
    min-height: 100%;
    display:flex;
    flex-direction: colum;
}

img.img-actors-info {
    width: 100%;
    height: 100%;
}

div.actor-data-info {
    display:flex;
    flex-direction: column;
}

div.actor-data-info h4.actor-info-title {
    color:#424b54;
    border-bottom: 2px solid #9ad2cb;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

div.row.actor-info-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 15px;
}

input.actor-info-form.btn.btn-primary {
    background-color: #fadf63;
    border-color: #fadf63;
    transition: transform .2s;
}

input.actor-info-form.btn.btn-primary:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}


/*actors-info-movies*/
div.actors-movies {
    margin-bottom: 110px;
}  

a.index-movies {
    text-decoration: none;
}

h4.movie-title {
    background-color:#fafafa;
    color:#424b54;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2px;
    padding: 2px 48px;
}

h4.movie-title:hover {
    color:#9ad2cb;
    font-size: 2em;
}

div.actors-movie-index {
    display: flex;
    flex-direction:row;
    padding: 10px;
}

card.actor-movies {
    min-height: 100%;
    min-height: 100%;
}

img.card actor-info-movies-img {
    width: 100%;
    height: 100%;
}


/*footer*/
div.row-footer {
    display:none;
    background-color:#9ad2cb;
    position: absolute;
    bottom:0;
    width: 100%;
}


/* Formularios */

/* Create*/

h3 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

div.row-form-create {
    min-height: 100%;
    overflow-y: hidden;
    padding: 10px;
    margin-bottom: 110px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
    border: none;
    background: none;
    color:#424b54;
    padding: 0 0 10px 5px;
  }

.inputcreate{
    border-bottom: 2px solid #fadf63;
    padding: 50px 10px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
}

div.row.form-create-button {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    /*justify-content: space-between;
    align-items: center;*/
}

.inputfile {
    padding: 50px 10px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
    display: row;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button {
    padding: 20px 10px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

button.movie-create-form.btn.btn-primary {
    background-color: #fadf63;
    border-color: #fadf63;
    transition: transform .2s;
    padding: 6px 20px;
}

button.movie-create-form.btn.btn-primary:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}
/*Auth*/

.row.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:50px;
}

.logo {
    width: 100%;
    height: 100%;
}

form{
    width: 100%;
}

input{
    border: none;
    background: none;
    color: #969a97;
    padding: 0 0 10px 5px;
  }

input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.inputauth {
    border-bottom: 2px solid #9ad2cb;
    padding: 50px 10px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.inputauth-reg {
    border-bottom: 2px solid #9ad2cb;
    padding: 30px 10px 0 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.input[type=checkbox]{
    padding: 0 25px 0 0;
}

.checkbox{
    padding: 25px 0;
    margin: 0 auto;
}

.botonera-login{
    margin: 0 auto;
}

button.movie-create-form.btn.btn-primary.login {
    background-color: #9ad2cb;
    border-color:#9ad2cb;
    transition: transform .2s;
    padding: 6px 20px;
}

button.movie-create-form.btn.btn-primary:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}

a.movie-create-form.btn.btn-primary.register {
    background-color: #9ad2cb;
    border-color:#9ad2cb;
    transition: transform .2s;
    padding: 6px 20px;
}

a.movie-create-form.btn.btn-primary.register:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}

button.movie-create-form.btn.btn-primary.register {
    background-color: #9ad2cb;
    border-color:#9ad2cb;
    transition: transform .2s;
    padding: 6px 20px;
}

button.movie-create-form.btn.btn-primary.register:hover{
    background-color:#969a97;
    border-color: #969a97;
    color: #fafafa;
    transform: scale(1.3);
}

a.btn.btn-link.forget {
    text-decoration: none;
    color:#424b54;
    font-size: 1em;
}

.btn.btn-link.forget:hover {
    color:#969a97;
    font-size: 1.2em;
}

p.errors{
    color:#424b54;
    font-weight: normal;
  }


/* Media Queries */

@media (min-width: 768px){
    body{
        background-color:#969a97;
      }
}
@media (min-width: 992px){

    body{
        min-height: 100%;
        position: relative;
        background-color:#fafafa;
        font-family: 'News Cycle', sans-serif;
        font-size: 1em;
        /*color: #fff;*/
      }
    
    form.form-inline {
        display: inline;
    }

    div.card-index-movie {
        display:flex;
        flex-direction: column;
    }

}


